html, body {
    margin:0;
	display:flex;
	width:100%;
	height:100%;
	color:#eee;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	word-break:break-word;
}

a {
	color:white;
}

a:hover {
	color:#ffffffd1;
}

.passionlabel {
	font-size:0.8em;
}

.courselist {
	margin:auto;
}

.bio {
	font-size:0.5em;
	color:lightgray;
	font-style:italic;
	font-weight:normal;
	text-shadow:none;
	text-align:center;
	margin-top:1em;
	max-width:20em;
}

.filters {
	position:sticky;
	position: -webkit-sticky;
	background:lightgray;
	box-sizing:border-box;
	background:#585e62;
	top:0;
	
	display: flex;
    align-items: center;
    justify-content: center;
	flex-direction:column;
	
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	z-index:200;
}

.basicFilters {
	height:50px;
}

.topicFilters {
	width:100%;
}

.filterSort {
	display: inline-flex;
    align-items: center;
    justify-content: center;
	
	padding-left:1em;
	padding-right:1em;
	
	height:100%;
	cursor:pointer;
}

.filterSort:hover {
	background:#616e77;
}

.filterBox {
	padding:8px;
	font-size:15px;
	border:none;
	border-radius:3px;
	
	margin-left:3em;
	margin-right:1em;
	
	width:18em;
	
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	
	transition-duration:0.2s;
	transition-timing-function: ease-in-out;
}

.filterBox:focus {
	width:25em;
}

.selected {
	background:#65737d;
}

.header {
	display:flex;
	flex-direction:column;
    font-size:2em;
    background:#31383c;
    color:#f7f7f7;
	justify-content:center;
	align-items:center;
	font-weight:bold;
	text-shadow: 2px 2px 3px #292624;
	z-index:1;
	box-shadow:0 0 5px #3c3431;
	padding: 2em;
    box-sizing: border-box;
	background: linear-gradient(45deg, rgba(40,45,47,1) 0%, rgba(71,77,82,1) 100%);
}

h2, h3 {
    color:#f7f7f7;
	display: inline-flex !important;
    align-items: center;
    justify-content: center;
	padding:50px !important;
	flex-direction:column;
	text-align:center;
}

.centered {
	display:flex;
	align-items:center;
	justify-content:center;
}

.project h4 {
	text-align:center;
	background:#0000002b;
	margin:0.3em;
	padding:1em;
}

.project a {
	color:white;
}

.skill {
	display:inline-block;
	padding:0.5em;
	background:#ffffff26;
	cursor:pointer;
	flex-grow: 1;
    margin:0.4em;
    text-align: center;
}

.skill:hover {
	background:#ffffff55;
}

.skills {
	display:flex;
	flex-wrap:wrap;
}

.tech {
	font-weight:bold;
	background: #b6b6b63d;
	padding: 1em;
    display: block;
}

.menu {
	display:flex;
	flex-direction:row;
	justify-content:stretch;
}

.button {
	position:relative;
	display:flex;
	text-align:center;
	flex-grow:1;
	padding:1em;
	cursor:pointer;
	font-weight:bold;
	justify-content:center;
	align-items:center;
	font-size:1.2em;
	color:white;
	text-decoration:none;
	text-shadow: 1px 1px 1px #292624;
}

.button:hover {
	color:white;
}

.realcontent {
	width:100%;
	height:100%;
	overflow:auto;
	scroll-behavior: smooth;
}

.block {
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
    padding:2em;
	padding-top:4em;
	min-height:40vh;
	box-sizing:border-box;
}

.project {
	display:inline-flex;
	flex-direction:column;
	vertical-align:top;
	background: #585e62;
    padding: 1em;
	margin:1em;
	width:500px;
	border-radius:3px;
	box-sizing:border-box;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.eventsorganised {
	background:#3c95a9;
}

.events {
    background:#3ca958;
	background-image: linear-gradient(#3ca958f2, #3ca958f2), url(image/buttons/training.jpg);
	background-position: center center;
    background-size: cover;
}

.events.project {
	background-image: linear-gradient(#3ca958fa, #318446fa), url(image/buttons/training.jpg);
}

.education {
    background:#a93c4a;
	background-image: linear-gradient(#a93c4af2, #a93c4af2), url(image/buttons/education.jpg);
	background-position: center center;
    background-size: cover;
}

.opensource {
	background:#3c54a9;
	background-image: linear-gradient(#3c54a9fb, #3c54a9fc), url(image/buttons/opensource.jpg);
	background-position: center center;
    background-size: cover;
}

.freelance {
    background:#a93ca1;
}

.hobbies {
	background:#a7a93c;
}

.work {
    background:#703ca9;
	background-image: linear-gradient(#703ca9f9, #703ca9f9), url(image/buttons/employment.jpg);
	background-position: center center;
    background-size: cover;
}

.technologies {
    background:#a9693c;
}

.contact {
	background:#a93c3c;
}

.disabled {
	background:#828689;
}

.block {
	background:#414141;
}


@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  
  .filterBox {
	  transition-duration:0;
  }
}