html, body {
    margin:0;
	display:flex;
	width:100%;
	color:#eee;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	word-break:break-word;
	scroll-behavior: smooth;
	flex-direction:column;
	background:#414141;
}

body {
	overflow-y:scroll;
	padding-bottom:6em;
}

a {
	color:white;
}

a:hover {
	color:#ffffffd1;
}

.jump {
	flex-grow:1;
}

.passionlabel {
	font-size:0.8em;
}

.courselist {
	margin:auto;
	margin-top:2em;
	margin-bottom:2em;
}

.bio {
	font-size:0.5em;
	color:lightgray;
	font-style:italic;
	font-weight:normal;
	text-shadow:none;
	text-align:center;
	max-width:20em;
}

.filters {
	position:sticky;
	position: -webkit-sticky;
	background:lightgray;
	box-sizing:border-box;
	background:#585e62;
	top:0;
	
	display: flex;
    align-items: center;
    justify-content: center;
	flex-direction:column;
	
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	z-index:200;
}

.basicFilters {
	height:50px;
	display:none !important;
}

.topicFilters {
	width:100%;
	flex-wrap:wrap;
}

.filterSort {
	display: inline-flex;
    align-items: center;
    justify-content: center;
	
	padding-left:1em;
	padding-right:1em;
	
	height:100%;
	cursor:pointer;
}

.filterSort:hover {
	background:#616e77;
}

.filterBox {
	padding:8px;
	font-size:15px;
	border:none;
	border-radius:3px;
	
	margin-left:3em;
	margin-right:1em;
	
	width:18em;
	
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	
	transition-duration:0.2s;
	transition-timing-function: ease-in-out;
}

.filterBox:focus {
	width:25em;
}

.selected {
	background:#65737d;
}

.name {
	font-family:serif;
}

.header {
	display:flex;
    font-size:2em;
    background:#31383c;
    color:#f7f7f7;
	justify-content:space-between;
	align-items:center;
	font-weight:bold;
	text-shadow: 2px 2px 3px #292624;
	z-index:1;
	box-shadow:0 0 5px #3c3431;
	padding: 1em;
    box-sizing: border-box;
	background: linear-gradient(45deg, rgba(40,45,47,1) 0%, rgba(71,77,82,1) 100%);
}

h2, h3 {
    color:#f7f7f7;
	display: inline-flex !important;
    align-items: center;
    justify-content: center;
	padding:50px !important;
	flex-direction:column;
	text-align:center;
}

.centered {
	display:flex;
	align-items:center;
	justify-content:center;
}

.project h4 {
	text-align:center;
	background:#0000002b;
	margin:0;
	padding:0.7em;
}

.project a {
	color:white;
}

.skill {
	display:inline-block;
	padding:0.5em;
	background:#ffffff26;
	flex-grow: 1;
    margin:0.4em;
    text-align: center;
}

.skill:hover {
	background:#ffffff55;
}

.skills {
	display:flex;
	flex-wrap:wrap;
}

.tech {
	font-weight:bold;
	background: #2224;
	padding: 1em;
    display: block;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}

.menu {
	display:flex;
	flex-direction:row;
	justify-content:stretch;
}

.button {
	position:relative;
	display:flex;
	text-align:center;
	flex-grow:1;
	padding:1em;
	cursor:pointer;
	font-weight:bold;
	justify-content:center;
	align-items:center;
	font-size:1.2em;
	color:white;
	text-decoration:none;
	text-shadow: 1px 1px 1px #292624;
}

.button:hover {
	color:white;
}

.block {
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
    padding:2em;
	padding-top:4em;
	min-height:40vh;
	box-sizing:border-box;
}

.project {
	display:inline-flex;
	flex-direction:column;
	vertical-align:top;
	background: #585e62;
    padding: 15px;
	margin:15px;
	width:400px;
	border-radius:3px;
	box-sizing:border-box;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.double {
	width:830px;
}

.eventsorganised {
	background:#3c95a9;
	background-image: linear-gradient(#3c95a9f9, #3c95a9f9), url(image/buttons/organized.jpg);
	background-position: center center;
    background-size: cover;
}

.events {
    background:#3ca958;
	background-image: linear-gradient(#3ca958f2, #3ca958f2), url(image/buttons/training.jpg);
	background-position: center center;
    background-size: cover;
}

.events.project {
	background-image: linear-gradient(#3ca958fa, #318446fa), url(image/buttons/training.jpg);
}

.education {
    background:#a93c4a;
	background-image: linear-gradient(#a93c4af2, #a93c4af2), url(image/buttons/education.jpg);
	background-position: center center;
    background-size: cover;
}

.opensource {
	background:#3c54a9;
	background-image: linear-gradient(#3c54a9fb, #3c54a9fc), url(image/buttons/opensource.jpg);
	background-position: center center;
    background-size: cover;
}

.freelance {
    background:#a93ca1;
	background-image: linear-gradient(#a93ca1f2, #a93ca1f2), url(image/buttons/freelance.jpg);
	background-position: center center;
    background-size: cover;
}

.hobbies {
	background:#a7a93c;
	background-image: linear-gradient(#a7a93cf2, #a7a93cf2), url(image/buttons/hobbies.jpg);
	background-position: center center;
    background-size: cover;
}

.work {
    background:#703ca9;
	background-image: linear-gradient(#703ca9f9, #703ca9f9), url(image/buttons/employment.jpg);
	background-position: center center;
    background-size: cover;
}

.technologies {
    background:#a9693c;
	background-image: linear-gradient(#a9693cf7, #a9693cf7), url(image/buttons/technologies.jpeg);
	background-position: center center;
    background-size: cover;
}

.contact {
	background:#a93c3c;
}

.disabled {
	background:#828689;
}

.block {
	background:#414141;
}

.buttons {
	display:flex;
	margin-left:0.5em;
	margin-right:0.5em;
	margin-bottom:0.5em;
}

.hide {
	display:none !important;
}

.project .buttons {
	flex-wrap:wrap;
}

.project .button {
	border-radius:2px;
	margin:0.3em;
	background:#cccccc8e;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.2);
}

.project .button:hover {
	background:#ccccccbe;
}

.tazios {
	background-image: linear-gradient(#3c54a9aa, #3c54a9aa), url('image/projects/tazios.png');
}

.res {
	background-image: linear-gradient(#3c54a9bb, #3c54a9bb), url('image/projects/res.png');
	background-position: center;
	background-size:initial;
	background-repeat:no-repeat;
}

.proceduralmap {
	background-image: linear-gradient(#3c54a9dd, #3c54a9dd), url('image/projects/proceduralmap.png');
}

.cubeengine {
	background-image: linear-gradient(#3c54a9dd, #3c54a9dd), url('image/projects/cubeengine.png');
		background-size:contain;
	background-repeat:no-repeat;
}

.joystick {
	background-image: linear-gradient(#3c54a9dd, #3c54a9dd), url('image/projects/joystick.png');
	background-size:contain;
	background-repeat:no-repeat;
}

.arduino {
	background-image: linear-gradient(#3c54a9dd, #3c54a9dd), url('image/projects/arduino.jpg');
}

.proceduralimage {
	background-image: linear-gradient(#3c54a9dd, #3c54a9dd), url('image/projects/proceduralimage.png');
}

.ircbot {
	background-image: linear-gradient(#3c54a9dd, #3c54a9dd), url('image/projects/ircbot.png');
}

.simplelogic {
	background-image: linear-gradient(#3c54a9ee, #3c54a9ee), url('image/projects/simplelogic.png');
}

.calculator {
	background-image: linear-gradient(#3c54a9dd, #3c54a9dd), url('image/projects/calculator.jpeg');
}

.drone {
	background-image: linear-gradient(#3c54a9dd, #3c54a9dd), url('image/projects/drone.jpg');
}

.youtube {
	flex-wrap:wrap;
}

.youtube .button {
	
}

.project {
	position:relative;
	padding:0;
	padding-top:4em;
}

.jump {
	padding:1em;
	margin:0;
}

.project .note {
	margin:2em;
	margin-top:0;
}

.project::before {	
	position:absolute;
	left:0;
	top:0;
	right:0;
	padding:0.8em;
	text-align:center;
	font-weight:bold;
	font-size:1.3em;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
}

.project.opensource::before {
	content:"Open source project";
}

.project.work::before {
	content:"Employment / Freelance project";
}

.project.freelance::before {
	content:"Freelance workshop";
}

.project.eventsorganised::before {
	content:"Self organised event";
}

.project.conference::before {
	content:"Conference";
}

.project.hackaton::before {
	content:"Hackaton";
}

.project.competition::before {
	content:"Competition";
}

.project.education::before {
	content:"Education";
}

.project.training::before {
	content:"Training";
}

.project.volunteering::before {
	content:"Volunteering";
}

.project.techfair::before {
	content:"Tech fair";
}

.project.universityproject::before {
	content:"University project";
}

.project.hobbies, .project.technologies {
	padding:0;
}

.project.hobbies h4, .project.technologies h4 {
	margin-top:1em;
	margin-bottom:1em;
}

h3.project::before {
	content:"" !important;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  
  .filterBox {
	  transition-duration:0;
  }
}

@media (max-width: 750px) {
	.filters {
		position:initial;
	}
	
	.basicfilters {
		height:initial;
		display:flex;
		flex-wrap:wrap;
		justify-content:center;
		align-items:center;
	}
	
	.filterSort {
		padding:1em;
	}
	
	.block {
		padding:0;
		padding-top:2em;
	}
	
	input.filterbox {
		width:100%!important;
		margin:1em;
	}
}

@media print {
	* {
		box-shadow:none !important;
		text-shadow:none !important;
		color-adjust: exact !important;
		-webkit-print-color-adjust: exact !important; print-color-adjust: exact !important;
	}
	
	a {
		display:none !important;
	}
	
	.menu .button {
		display:flex !important;
	}
	
	.block {
		padding:0;
		padding-top:2em;
	}
}

